.cabecalho {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  box-shadow: var(--cor-box-sizing);
  align-items: center;
  background-color: var(--cor-secundaria-preto);
  overflow: hidden;
}

.cabecalho ul {
  display: flex;
  gap: 0.5rem;
}
