.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  box-shadow: var(--cor-box-sizing);
  align-items: center;
  background-color: var(--cor-secundaria-preto);
}

.cabecalho p {
  font-size: 28px;
  color: var(--cor-azul);
  font-weight: 700;
  transition: var(--transicao);
}

.cabecalho p:hover {
  transform: var(--scale);
}

.cabecalho ul {
  display: flex;
  gap: 20px;
}
