.container {
  height: 80vh;
}

.carroselContainer {
  height: 100%;
}

.carroselElemento {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.carroselElemento::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  z-index: -1;
}

.conteudo_carrosel {
  z-index: 1;
  box-shadow: var(--cor-box-sizing) inset;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 5%;
  display: flex;
  align-items: center;
}

.descricoes {
  margin: 0 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.descricoes h2 {
  width: 50%;
  min-width: 12rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 800;
  background-color: var(--cor-secundaria-azul);
  border-radius: 0.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

.descricoes h3 {
  font-size: 2rem;
  font-weight: 400;
}

.descricoes p {
  font-weight: 300;
  opacity: 0.9;
  text-align: justify;
}

.imagem {
  margin: 0 5%;
  width: 40%;
}

.imagem img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  max-height: 20rem;
  aspect-ratio: 3/2;
}

@media screen and (max-width: 700px) {
  .carrosel {
    align-items: center;
  }

  .conteudo_carrosel {
    flex-direction: column;
    gap: 10px;
  }

  .descricoes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .descricoes h2 {
    padding: 0.2rem;
  }

  .imagem {
    width: 80%;
    height: 10rem;
  }
}
