/* IMPORSTS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--cor-preto);
  color: var(--cor-branca);
}

:root {
  --cor-preto: #262626;
  --cor-azul: #2271d1;
  --cor-cinza: #a5a5a5;
  --cor-branca: #fffcfc;
  --cor-box-sizing: 0px 5px 29px 0px var(--cor-azul);

  --cor-secundaria-preto: #00000071;
  --cor-secundaria-azul: #6bd1ff;
  --cor-secundaria-verde: #00c86f;
  --cor-secundaria-amarelo: #ffba05;
  --error: #e53935;

  --fonte-principal: "Source Sans 3", sans-serif;
  --transicao: all 0.3s ease-in-out;
  --scale: scale(1.07);
}
