/* IMPORSTS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  list-style: none;
  text-decoration: none;
  font-size: clamp(0.9rem, 1.2vw, 4rem);
}

body {
  background-color: var(--cor-preto);
  color: var(--cor-branca);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p,
a {
  font-size: 1rem;
}

:root {
  --cor-preto: #262626;
  --cor-azul: #2271d1;
  --cor-cinza: #a5a5a5;
  --cor-branca: #fffcfc;
  --cor-box-sizing: 2px 2px 19px 2px var(--cor-azul);

  --cor-secundaria-preto: #00000071;
  --cor-secundaria-azul: #6bd1ff;
  --cor-secundaria-verde: #00c86f;
  --cor-secundaria-amarelo: #ffba05;
  --error: #e53935;

  --fonte-principal: "Source Sans 3", sans-serif;
  --transicao: all 0.3s ease-in-out;
  --scale: scale(1.07);
  --bordas-principal: 2px solid rgb(48, 48, 48);
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 99;
}

.loading-item {
  border: 1rem solid var(--cor-branca);
  border-top: 1rem solid var(--cor-azul);
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
