.estilo_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-weight: 600;
  font-size: 1.2rem;
  flex: 1 1 48%; /* Faz com que os inputs ocupem a largura disponível, mas não menos que 48% da sub-container */
  min-width: 15rem;
}

.estilo_inputs .item_inputs {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline-style: none;
  border: var(--bordas-principal);
  background-color: transparent;
  color: var(--cor-branca);
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputGroup.error input {
  border-color: var(--error);
}

.errorMessage {
  color: var(--error);
  font-size: 0.875rem;
}
